################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/crud-razor-2.1/crud-razor-2.1/obj
/crud-razor-2.1/.vs/crud-razor-2.1
